/* navbar */
@media (min-width: 768px) {
  #xsnavbar {
    display: none !important;
  }

}

@media (max-height: 600px) {
  .mypicture {
    padding-top: 50px;
  }
}

/* about me section */
@media (max-width: 991px) and (min-width: 768px) {  
  .about-title p {
    font-size: 20px !important;
  }
  .about-desc h5 {
    font-size: 15px;
  }
  .about-desc p {
    font-size: 14px;
  }
  .social-box .social-icons a {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
  }
}