/* navbar */
.navbar-custom {
  background: transparent;
}

/* home */
#hero-home {
  background-image: url(./images/background-test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}