/* global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.spacer1 {
  width: 100%;
  height: 30px;
  display: block;
  clear: both;
}

.spacer2 {
  width: 100%;
  height: 78px;
  display: block;
  clear: both;
}

.spacer3 {
  width: 100%;
  height: 150px;
  display: block;
  clear: both;
}

/* navbar */

.navbar a {
  color: black;
}

#navbarSupportedContent .nav-item {
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent .nav-item:hover {
  border-bottom: 2px solid red;
}

#navbarSupportedContent .nav-item a {
  font-size: 15px;
  font-weight: 500;
}

.navbar-brand {
  padding-left: 16px;
}

.navbar-brand a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-custom {
  background: white;
  border-bottom: 1px solid #eee;
}

#xsnavbar a {
  font-size: 15px;
  font-weight: 500;
  color: #888;
}

#xsnavbar a:hover {
  color: black;
}

.xsnav-dim .nav-item {
  border-bottom: 1px solid #eee;
}

/* home */
#home {
  background-image: url(./images/snowbackground2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.full-screen {
  min-height: 100vh; }
  
.overlay {
  top: 0;
  background-color: rgba(54, 54, 54, 0.6);
}

.my-pic {
  border-radius: 50%;
  width: 200px;
  border: solid 3px rgb(255, 255, 255); 
}

#thatsme h2 {
  font-size: 45px;
}

.mytitles {
  font-size: 24px;
}

#autotype {
  display: inline-block;
  
}

@keyframes typedjsBlink {
  50% { opacity: 0; }
}
.typed-cursor {
  animation: typedjsBlink 0.7s infinite;
}
