/* global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.spacer1 {
  width: 100%;
  height: 30px;
  display: block;
  clear: both;
}

.spacer2 {
  width: 100%;
  height: 78px;
  display: block;
  clear: both;
}

.spacer3 {
  width: 100%;
  height: 100px;
  display: block;
  clear: both;
}

/* navbar */

.navbar-brand p {
  display: inline-block;
  margin-bottom: -16px;
}

.navbar-brand {
  padding-left: 16px;
}

.navbar-brand a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a {
  color: black;
}

#navbarSupportedContent .nav-item {
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent .nav-item:hover {
  border-bottom: 2px solid rgb(51, 153, 255);
}

#navbarSupportedContent .nav-item a:hover {
  color: rgb(51, 153, 255) !important;
}

#navbarSupportedContent .nav-item a {
  font-size: 15px;
  font-weight: 500;
}

.navbar-custom {
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#xsnavbar a {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  padding-left: 16px;
}
  

#xsnavbar a:hover {
  color: black;
}

.xsnav-dim .nav-item {
  border-bottom: 1px solid #eee;
}

/* home */
#home {
  background-image: url(./images/snowbackground2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.full-screen {
  min-height: 100vh; }
  
.overlay {
  top: 0;
  background-color: rgba(54, 54, 54, 0.6);
}

.my-pic {
  border-radius: 50%;
  width: 200px;
  border: solid 3px rgb(255, 255, 255); 
}

#thatsme h2 {
  font-size: 45px;
}

.mytitles {
  font-size: 24px;
}

#autotype {
  display: inline-block;
  
}

@keyframes typedjsBlink {
  50% { opacity: 0; }
}
.typed-cursor {
  animation: typedjsBlink 0.7s infinite;
}

/* about me */
.text-grey {
  color: rgb(51, 153, 255);
}

.aspectRatioBox {
  position: relative;
  padding-top: calc(1 * 100%); 
  background-size: cover;
  background-position: center;
}

.pic-frame {
  padding: 10px;
  border-radius: .25rem!important;
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  background-color: #fff;
}

.about-title p {
  font-size: 32px;
  font-weight: 600;
}

.social-box {
  position: relative;
  padding-left: 15px;
}

.about-title p, .social-box {
  display: inline-block;
}

.social-box .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  background: #111;
  border: 1px solid #111;
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
  transition: ease all 0.55s;
}

.social-box .social-icons a:hover {
  background: transparent;
  color: rgb(51, 153, 255);
}

/* services */
#services {
  background-image: url(./images/snowbackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#services-desc p {
  display: inline-block;
  font-size: 30px;
}

.service-box {
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  border: 5px solid transparent; 
  margin-bottom: 30px;
}

.service-box-dim {
  padding: 45px 25px 45px 25px;
  background-size: cover;
  background-position: center;
  }

#hover-box {
  border: solid 4px transparent;
}

#hover-box i {
  background-color: transparent;
}

#hover-box:hover i{
  color: white;
  transition-timing-function: ease;
}

#hover-box:hover {
  background-color: rgb(51, 153, 255) !important;
  transition-timing-function: ease;
  transition: 1s;
  color: white;
  border: solid 4px white;
}

#services i {
  font-size: 25px !important;
  color: rgb(51, 153, 255);
}

#services h6 {
  font-size: 20px;
  font-weight: 600;
} 

#services .container {
  padding-left: 10;
  padding-right: 10;
}

/* Portfolio */
#portfolio-desc p {
  display: inline-block;
  font-size: 30px;
}

.port-frame {
  border: solid 10px white;
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  border-radius: 4%;
}

.overlay2 {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 40px;
  right: 0;
  height: calc(100% - 20px);
  width: calc(100% - 50px);
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(51,153,255,1);
}

.port-frame:hover .overlay2 {
  opacity: 1;
}

.port-item-title {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.port-item-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.port-item-title a, .port-item-desc a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.port-item-desc a {
  font-size: 15px;
}  

/* contact */
#contact {
  background-image: url(./images/snowbackground3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-frame {
  border-radius: 5px;
  background-color: white;
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
}

#form-title {
  color: black;
  padding-top: 20px;
  font-weight: bold;
}

#form-title p  {
  color: black;
  font-size: 25px;
}

#message {
  height: 150px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 153, 255, 0.35);
}

.form-button {
  background-color: rgba(51,153,255,1);
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  color: white;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 12px 25px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  transition: ease-in-out all .7s;
  text-align: center;
}

.form-button:active {
  border: 1px solid white;
}

.form-button:hover {
  box-shadow: rgb(51 153 255 / 60%) 0 10px 16px, rgb(51 153 255 / 20%) 0 -5px 16px;
}

.adress-row {
  height: 100%;
  min-height: 100%;
}

.address-box {
  padding: 30px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.address-box:last-child {
  border-bottom: 1px solid transparent;
}

.adress-row a {
  font-size: 18px;
}

.adress-row i {
  font-size: 36px;
  color: rgb(51, 153, 255);
}

/* footer */
.footer-brand a, .footer-brand p {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-separator {
  border-bottom: 1px solid rgba(0,0,0,.1);
}